<h1>Here are all of our pirates!</h1>

<ul>
    <% @pirates.each do |pirate| %>
    <li><h3><a href="pirates/<%= pirate.id %>"><%= pirate.name %></a></h3></li>
    <% end %>
</ul>
<br></br>
<h4>To learn more about a pirate, click on the pirate's name above.</h4>
<br></br>
<h3>To create a new pirate, click <a href="pirates/new">here</a>.</h3>
<h3>To go to the main page, click <a href="../">here</a>.</h3>