<h1>Here are all of our pirates!</h1>

<ul>
    <% @pirates.each do |pirate| %>
    <li><h3><a href="pirates/<%= pirate.id %>"><%= pirate.name %></a></h3></li>
    <% end %>
</ul>

<h3>To create a new pirate, click <a href="pirates/new">here</a>.</h3>